<div class="col-3">
  <div class="coffee-card mb-5">
    <% if coffee.photo.attached?  %>
      <%= cl_image_tag coffee.photo.key, width: 300 %>
    <% else %>
      <%= image_tag "coffee_beans.png", width: 300 %>
    <% end %>
    <div class="coffee-card-infos">
      <div class="w-100">
        <h2><%= coffee.name %></h2>
        <h2 class="coffee-card-pricing">£99.99</h2>
        <p>Origin: <%= coffee.origin %></p>
        <p>Strength: <%= coffee.strength %></p>
        <p>Rating: <%= coffee.rating %></p>
        <div class="d-flex justify-content-between">
          <a class="btn btn-danger"id="btn-brown" href="">Request</a>
          <%= link_to "More Info", coffee_path(coffee), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
