<div class="col-12 col-lg-3">
  <div class="coffee-card mb-5 w-100 ">
    <% if coffee.photo.attached?  %>
      <%= cl_image_tag coffee.photo.key, width: 300 %>
    <% else %>
      <%= image_tag "coffee_beans.png", width: 300 %>
    <% end %>
    <div class="coffee-card-infos">
      <div class="w-100">
        <div class="d-flex justify-content-between">
          <h2><%= coffee.name %></h2>
          <h2> £<%= coffee.price %></h2>
        </div>
        <p>Origin: <%= coffee.origin.split(',').last.strip %></p>
        <p>Strength: <%= coffee.strength %></p>
        <p>Rating: <%= coffee.rating %></p>
        <%= link_to "More Info", coffee_path(coffee), class: "info-button btn w-100" %>

      </div>
    </div>
  </div>
</div>
