<div class="container">
  <div class='d-flex justify-content-end'>
    <button type="button" class="btn btn-primary rounded-4 text-white m-2" data-bs-toggle="modal" data-bs-target="#modalWindow">
            Post a new coffee
    </button>
    <%# <%= link_to "Post a new coffee", new_coffee_path, class: "btn btn-primary rounded-4 text-white m-2" %>
  </div>
  <h1 class="text-center text-primary fw-light">All Coffees</h1>
  <div class="d-flex justify-content-end pe-4">
    <p> <%= link_to "View on map", coffees_map_path %></p>
  </div>
  <div class="row">
    <% if @coffees.any? %>
      <% @coffees.each do |coffee| %>
        <%= render "/coffees/coffee_card", coffee: coffee %>
      <% end %>
      <% else %>
        <p>No Coffees</p>
    <% end %>
  </div>
</div>
</div>

<%= render 'layouts/modal', title: 'Add your coffee' do %>
  <%= render "coffees/form", coffee: @coffee %>
<% end %>
