<h1>Checkout page</h1>
  <%= @purchase.coffee.name %>
  <%= @purchase.coffee.name %>
  <%= @purchase.coffee.name %>
  <%= @purchase.coffee.price * @purchase.quantity %>

<%# Add the link to show the success of the request %>
<%# <%= link_to 'Request', %>
