<nav class="sticky-sm-top navbar navbar-expand-lg navbar-white bg-white d-flex justify-content-center">

  <div class="container-fluid bg-danger shadow-sm">

    <div class="collapse navbar-collapse p-2 d-flex justify_content_center" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center fs-5">

        <li class="nav-item">
          <%= image_tag 'coffee_logo.png', style:"width:40px;"%>
        </li>

        <li class="nav-item">
          <%= link_to "Stars Coffee", root_path, class: "nav-link active, fw-bold" %>
        </li>


        <div class="ml-3 collapse navbar-collapse p-4 d-flex justify_content_center">
          <li class="nav-item">
            <%= link_to "All Coffees", coffees_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "About", about_path, class: "nav-link" %>
          </li>

            <li class="nav-item">
              <%= link_to "Map", coffees_map_path, class: "nav-link" %>
            </li>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">My Coffees</a></li>
            <li><a class="dropdown-item" href="#">Favorites</a></li>
            <li><a class="dropdown-item" href="#">Messages</a></li>
            <li><%= link_to 'Purchases', coffee_purchases_path(current_user), class: "dropdown-item" %></li>

          <% if user_signed_in? %>


            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profile
              </a>

              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">My Coffees</a></li>
                <li><a class="dropdown-item" href="#">Favorites</a></li>
                <li><a class="dropdown-item" href="#">Messages</a></li>
                <li><a class="dropdown-item" href="#">Purchases</a></li>

                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item"  %></li>
              </ul>

            </li>


          <% else %>

            <li class="nav-item">
              <%= link_to "Log In", new_user_session_path, class: "nav-link m-2" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign Up", new_user_registration_path, class: "nav-link m-2" %>
            </li>

        <% end %>
        </div>


      </ul>

      <%= form_with url: coffees_path, method: :get, class: "d-flex w-25" do %>
        <%= text_field_tag :search,
          params[:search],
          class: "form-control me-2 bg-white rounded-4",
          placeholder: "Search for coffee"
        %>
        <%= submit_tag "Search", name: "", class: "btn btn-outline-primary rounded-4" %>
      <% end %>

    </div>
  </div>
</nav>
